/* Document */
html,
body {
	width: 100%;
	height: 100%;
	}
	html {
		background: #edf0f4;
	}
	body {
		font: 13px/1.2 'Trebuchet MS', 'Lucida Sans unicode', Arial, Helvetica, courier, sans-serif;
		color: #222;
	}
	
a {
	color: #8a2105;
	text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	
small {
	font-size: 11px;
	display: block;
}
	
/* Form */
input.text {
	background-color: #f2f2f2;
	border: 1px solid #c9cbcf;
	font-family: 'Trebuchet MS', 'Lucida Sans unicode', Arial, Helvetica, courier, sans-serif;
	}
	input.text {
		width: 290px;
		padding: 4px;
	}
	input.error,
	textarea.error {
		border-color: #dc0000 #ff5555 #ff5555 #dc0000;
		background-color: #fff3f3;
	}
	input.focus,
	textarea.focus {
		border-color: #a49e74 #d4cfae #d4cfae #a49e74;
		background-color: #fff5db;
	}
	
	input.fancy_button {
		height: 28px;
		overflow: visible;
		background: #ff7e00 url('../img/tpl/fancy_but_orange.jpg') bottom repeat-x;
		font-weight: bold;
		font-size: 12px;
		color: #fff;
		cursor: pointer;
		border-width: 1px;
		border-color: #d3a990 #993a00 #993a00 #d3a990;
		}
		input.fancy_button:hover {
		
		}
	input.fancy_button.grey {
		background: #7e7e7e url('../img/tpl/fancy_but_grey.jpg') bottom repeat-x !important;
		border-color: #353535 #a9a9a9 #a9a9a9 #353535 !important;
		}
		input.fancy_button.grey:hover {
		
		}
	
form.form_layout ul li {
	display: block;
	padding: 3px 0;
}

#container_outer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: table;
	position: relative;
	}
	#container_middle {
		display: table-cell;
		vertical-align: middle;
		}
		* html #container_middle {
			position: absolute;
			top: 50%;
		}
		*html #container_inner {
			position: relative;
			top: -50%;
			}
			#container {
				padding: 20px;
				width: 300px;
				margin: 0 auto;
				position: relative;
				background-color: #fff;
				border: 1px solid #dadada;
				}
				img#header {
					width: 292px;
					height: 40px;
					display: block;
					margin: 0 auto;
				}

.clearfix:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* This is a hack \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* This was the hack */